*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #0a192f;
    color: #ccd6f6;
    font-family: "Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.starry-background {
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

a {
    display: inline-block;
    color: #ccd6f6;
    text-decoration: none;
}

a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: white;
    transition: 300ms;
}

a:hover::after {
    width: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    padding: 120px 100px;
    max-width: 1440px;
    height: 100vh;
}

.intro-hello {
    font-weight: 300;
    font-size: 2.5rem;
}

.intro-tagline {
    font-weight: 300;
    font-size: 2.5rem;
    max-width: 700px;
}

.intro-tagline .name {
    font-weight: 900;
}

.intro-contact {
    font-weight: 400;
    font-size: 1.125rem;
    box-sizing: inherit;
}


/* @media only screen and (min-width: 600px) {
  .intro {
    padding: 70px 50px;
  }
  .intro-hello, .intro-tagline {
    font-size: 4rem;
  }
  .intro-contact {
    font-size: 3rem;
  }
} */



@media only screen and (max-width: 992px) {
  .intro-hello, .intro-tagline {
    font-size: 2rem;
  }
  .intro-contact {
      font-size: 1.25rem;
  }
}

@media only screen and (max-width: 768px) {
    .intro {
        padding: 70px 50px;
    }
    .intro-hello, .intro-tagline {
        font-size: 2rem;
    }
    .intro-contact {
        font-size: 1.25rem;
    }
}


@media only screen and (max-width: 600px) {

  .intro-hello, .intro-tagline {
    font-size: 1.5rem;
  }
  .intro-contact {
    font-size: 1rem;
  }
}
/* 
@media only screen and (min-width: 1024px) {
  .intro-hello,.intro-tagline {
    font-size: 1.5rem;
  }
  .intro-contact {
      font-size: 1.25rem;
  }
}  */
